.todo-editing__title-field {
  border: none;
  outline: none;
  font-size: 24px;
  width: 100%;
  word-break: break-all;
  padding: 10px 15px 10px 52px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  box-sizing: border-box;
}